@charset "UTF-8";
/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, "Gill Sans MT", "Gill Sans", "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #000000;
}
body h1 {
  font-size: 3rem;
}
body h2 {
  font-size: 2.5rem;
}
body h3 {
  font-size: 1.8rem;
}

li {
  list-style: none;
}

hr {
  width: 10%;
  height: 5px;
  background-color: #000000;
}

/* Colores principales */
/* Asignación de tamaños de los h principales de uso del proyecto */
h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.7rem;
}

/* Creamos esta clase para luego ser extendida durante nuestro estilado */
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ahora crearemos los mixin que emplearemos durante el proyecto */
/* Se crearon ambos flex para ser aplicados en la mayoría de archivos de estilos */
/* Ahora utilizamos una pequeña animación para darle un poco de vida a nuestro logo */
@keyframes soft {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* components */
.header {
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin-bottom: 108px;
}
.header_container_logos {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header_container_logos_logo:nth-child(1) {
  width: 30%;
}
.header_container_logos_logo:nth-child(2) {
  width: 40%;
}
.header_container_logos_logo:nth-child(3) {
  width: 30%;
}
.header_container_logos_logo {
  /* width: 33.33333333%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header_container_logos_logo img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  animation: soft 10s infinite;
  animation-delay: 0s;
}
.header .navbar {
  position: static;
  width: 100%;
  background-color: #39a900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 0px rgba(140, 141, 143, 0.5);
}
.header .navbar .container-fluid {
  padding: 0;
}
.header .navbar-brand {
  font-weight: bold;
}
.header .navbar-toggler {
  font-weight: bold;
  border: 2.5px solid #27461f;
}
.header .navbar-brand {
  color: #27461f;
}
.header .navbar-brand p {
  margin-bottom: 0;
}
.header .navbar #offcanvasNavbar {
  transition: 0.5s all;
}
.header .navbar .offcanvas-body .navbar-nav {
  gap: 0 !important;
}
.header .navbar .offcanvas-body .navbar-nav .nav-item {
  width: 12.5% !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header .navbar .offcanvas-body .navbar-nav .nav-item .nav-link {
  transition: 0.5s all;
}
.header .navbar .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: #143d00;
}
.header .navbar .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  transition: 0.5s all;
}
.header .navbar .offcanvas-body .navbar-nav .nav-item.mark_on {
  background-color: white;
}
.header .navbar .offcanvas-body .navbar-nav .nav-item.mark_on a {
  color: #39a900;
  /* font-weight: bold; */
}

.footer {
  padding: 0 !important;
  box-shadow: 0px -5px 10px 0px rgba(140, 141, 143, 0.5);
  margin-top: 50px;
  padding: 20px 20px;
}
.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer_container_title {
  width: 100%;
  background-color: #39a900;
  text-align: center;
  color: white;
}
.footer_container_img {
  max-width: 350px;
}
.footer_container_img img {
  width: 100%;
  margin: 20px 0;
  animation: soft 10s infinite;
  animation-delay: 0s;
}
.footer_barra {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 25px;
  color: white;
}

/* layout */
.apertura_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.apertura_img img {
  width: 50%;
}

.principal_contenido {
  margin-top: 50px;
}
.principal_contenido_sub {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
}
.principal_contenido_iframe {
  margin: 50px 0;
}
.principal_contenido_iframe iframe {
  width: 100%;
  height: 500px;
}
.principal_contenido_data {
  font-size: 1.5rem;
  text-align: justify;
}
.principal_contenido_data p {
  margin-bottom: 0;
}

.ponentes h1 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.ponentes_separador {
  padding: 30px 0;
}
.ponentes_card {
  box-shadow: 0 0 10px 5px rgba(140, 141, 143, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 330px;
  transition: 0.5s all;
  border-radius: 20px;
}
.ponentes_card_nombre {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #39a900;
  width: 100%;
  padding: 20px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ponentes_card_nombre h2 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}
.ponentes_card_img {
  height: 80%;
  width: 30%;
  overflow: hidden;
  border-bottom-left-radius: 20px;
}
.ponentes_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all;
}
.ponentes_card:hover {
  transform: translateY(-10px);
}
.ponentes_card:hover .ponentes_card_img img {
  transform: scale(1.2);
}
.ponentes_card:hover .ponentes_card_data_texto1 {
  transform: translateY(-200%);
}
.ponentes_card:hover .ponentes_card_data_texto2 {
  transform: translateY(0);
}
.ponentes_card_data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  font-size: 1.2rem;
  /* background-color: #88cb66; */
  width: 70%;
  overflow: hidden;
  position: relative;
}
.ponentes_card_data_texto1 {
  transition: 0.5s all;
  padding: 20px;
}
.ponentes_card_data_texto2 {
  transform: translateY(200%);
  transition: 0.5s all;
  position: absolute;
  padding: 20px;
}
.ponentes_card_data p {
  margin-bottom: 0;
}

.semillas_principal {
  margin-top: 50px;
  margin-bottom: 50px;
}
.semillas_principal h1 {
  margin-bottom: 50px;
  text-align: center;
}
.semillas_principal p {
  font-size: 1.5rem;
  text-align: justify;
}
.semillas_categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.semillas_categorias hr {
  margin-bottom: 50px;
}
.semillas_categorias h2 {
  text-align: center;
}
.semillas_categorias_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.semillas_categorias_container_card {
  padding: 20px;
  width: 50%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.semillas_categorias_container_card_inner {
  width: 80%;
  box-shadow: 0 0 10px 5px rgba(140, 141, 143, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  padding: 10px;
  transition: all 0.5s;
}
.semillas_categorias_container_card_inner i {
  font-size: 60px;
  color: #39a900;
}
.semillas_categorias_container_card_inner h3 {
  text-align: center;
  color: #39a900;
}
.semillas_categorias_container_card_inner p {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.semillas_categorias_container_card_inner:hover {
  transform: translateY(-20px);
}
.semillas_metodologia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.semillas_metodologia h2 {
  text-align: center;
}
.semillas_metodologia hr {
  margin-bottom: 50px;
}
.semillas_metodologia p {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 0;
}
.semillas_metodologia_lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 10px;
}
.semillas_metodologia_lista li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.semillas_metodologia_lista li p {
  margin-bottom: 0;
}
.semillas_metodologia_link {
  margin-top: 10px;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #39a900;
  background-image: linear-gradient(#39a900, rgb(3, 95, 3));
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 0% 10%;
  transition: 0.5s;
}
.semillas_metodologia_link:hover {
  background-size: 100% 10%;
}
.semillas_metodologia p:nth-child(7) {
  margin-top: 16px;
}
.semillas_metodologia p:nth-child(7) span {
  font-weight: bold;
  transition: 0.5s all;
}
.semillas_metodologia p:nth-child(7) span:hover {
  color: #39a900;
  cursor: pointer;
}

.investigacion {
  margin-top: 50px;
}
.investigacion_principal h1 {
  margin-bottom: 50px;
  text-align: center;
}
.investigacion_principal p {
  margin-bottom: 50px;
  font-size: 1.5rem;
  text-align: justify;
}
.investigacion_contenido_tematicas {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.investigacion_contenido_tematicas h2 {
  text-align: center;
}
.investigacion_contenido_tematicas hr {
  margin-bottom: 50px;
  align-self: center;
}
.investigacion_contenido_tematicas ul {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.investigacion_contenido_participacion1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.investigacion_contenido_participacion1 h2 {
  text-align: center;
}
.investigacion_contenido_participacion1 hr {
  margin-bottom: 50px;
  align-self: center;
}
.investigacion_contenido_participacion1 p {
  font-size: 1.5rem;
}
.investigacion_contenido_participacion2 {
  display: flex;
  flex-direction: column;
}
.investigacion_contenido_participacion2 h3 {
  text-align: center;
  margin-bottom: 50px;
}
.investigacion_contenido_participacion2 p {
  font-size: 1.5rem;
  text-align: justify;
}
.investigacion_contenido_participacion2 a {
  margin-bottom: 10px;
  align-self: center;
  margin-top: 10px;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #39a900;
  background-image: linear-gradient(#39a900, rgb(3, 95, 3));
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 0% 10%;
  transition: 0.5s;
}
.investigacion_contenido_participacion2 a:hover {
  background-size: 100% 10%;
}
.investigacion_contenido_participacion2 p:nth-child(4) {
  margin-top: 16px;
  text-align: center;
}
.investigacion_contenido_participacion2 p:nth-child(4) span {
  font-weight: bold;
  transition: 0.5s all;
}
.investigacion_contenido_participacion2 p:nth-child(4) span:hover {
  color: #39a900;
  cursor: pointer;
}

.programacion {
  margin-top: 50px;
}
.programacion h1 {
  text-align: center;
  margin-bottom: 50px;
}
.programacion_tabla {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid #27461f;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.programacion_tabla th, .programacion_tabla td {
  padding: 10px;
  border: 1px solid #27461f;
  border-spacing: 0px;
  border-collapse: collapse;
}
.programacion_tabla_dia {
  background: #016e3c;
  color: white;
  font-size: 2rem;
  text-align: center;
}
.programacion_tabla_info {
  background: #008550;
  color: white;
  font-size: 1.8rem;
  text-align: center;
}
.programacion_tabla_hora {
  background: #88cb66;
  color: white;
  font-size: 1.5rem;
  width: 20%;
  text-align: center;
}
.programacion_tabla_evento {
  width: 80%;
  font-size: 1.5rem;
  text-align: justify;
}

@media screen and (max-width: 1409px) {
  .header {
    margin-bottom: 122px;
  }
}
@media screen and (max-width: 995px) {
  .ponentes_card {
    height: 420px;
  }
}
@media screen and (max-width: 991px) {
  .semillas_categorias_container_card_inner {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .header {
    height: 25vh;
  }
  .header_container_logos {
    /* display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas:
    'sennova sennova'
    'sena giacidt'
    ; */
    align-items: center;
    justify-items: center;
  }
  .header_container_logos_logo:nth-child(1) {
    grid-area: sena;
    width: 25%;
  }
  .header_container_logos_logo:nth-child(2) {
    grid-area: sennova;
    width: 50%;
  }
  .header_container_logos_logo:nth-child(3) {
    grid-area: giacidt;
    width: 25%;
  }
  .apertura_img img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 !important;
  }
  .navbar .container-fluid .navbar-brand {
    display: none;
  }
  .navbar .container-fluid .offcanvas-body {
    box-sizing: border-box;
  }
  .navbar .container-fluid .offcanvas-body .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding-right: 0 !important;
    gap: 15px;
  }
  .navbar .container-fluid .offcanvas-body .navbar-nav .dropdown {
    padding-right: 10px !important;
  }
  .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item {
    width: 14.2857143%;
  }
  .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item .nav-link {
    padding: 0;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
  }
  .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item ul li a {
    font-weight: normal;
    color: #000000;
  }
}
@media screen and (max-width: 950px) {
  .header {
    margin-bottom: 200px;
  }
  .navbar .container-fluid .offcanvas-body .navbar-nav {
    justify-content: center !important;
    flex-wrap: wrap;
  }
  .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item {
    width: 28.5714286% !important;
  }
  .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .header {
    margin-bottom: 224px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 108px;
  }
  .ponentes_card {
    height: 500px;
  }
  .semillas_categorias_container_card {
    height: 400px;
  }
}
@media screen and (max-width: 702px) {
  .programacion_tabla_dia {
    font-size: 1.8rem;
  }
  .programacion_tabla_info {
    font-size: 1.6rem;
  }
  .programacion_tabla_hora {
    font-size: 1.2rem;
    width: 20%;
  }
  .programacion_tabla_evento {
    width: 80%;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 581px) {
  .programacion_tabla_dia {
    font-size: 1.8rem;
  }
  .programacion_tabla_info {
    font-size: 1.6rem;
  }
  .programacion_tabla_hora {
    font-size: 1.2rem;
    width: 25%;
  }
  .programacion_tabla_evento {
    width: 75%;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 547px) {
  .semillas_categorias_container_card {
    height: 320px;
    width: 100%;
  }
}
@media screen and (max-width: 474px) {
  .programacion_tabla_dia {
    font-size: 1.7rem;
  }
  .programacion_tabla_info {
    font-size: 1.5rem;
  }
  .programacion_tabla_hora {
    font-size: 1.1rem;
    width: 30%;
  }
  .programacion_tabla_evento {
    width: 70%;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 450px) {
  .header {
    margin-bottom: 164px;
  }
  .header .navbar {
    width: 100%;
  }
  .header .navbar-brand {
    height: 100%;
    width: 100%;
    white-space: normal;
  }
  .header .navbar-brand p {
    text-align: center;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .header .navbar .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .principal_contenido_data {
    font-size: 1.2rem;
  }
  .semillas_principal p {
    font-size: 1.2rem;
    text-align: justify;
  }
  .semillas_categorias_container_card {
    height: 400px;
  }
  .semillas_metodologia p {
    font-size: 1.2rem;
  }
  .semillas_metodologia_link {
    font-size: 1.7rem;
  }
  .investigacion_principal p {
    font-size: 1.2rem;
  }
  .investigacion_contenido_tematicas ul {
    font-size: 1.2rem;
  }
  .investigacion_contenido_participacion1 p {
    font-size: 1.2rem;
  }
  .investigacion_contenido_participacion2 p {
    font-size: 1.2rem;
  }
  .investigacion_contenido_participacion2 a {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 400px) {
  .header {
    height: 32vh;
  }
  .header_container_logos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "sennova sennova" "sena giacidt";
    gap: 0;
    padding: 0;
  }
  .header_container_logos_logo:nth-child(1) {
    width: 30%;
    grid-area: sena;
  }
  .header_container_logos_logo:nth-child(2) {
    width: 40%;
    grid-area: sennova;
  }
  .header_container_logos_logo:nth-child(3) {
    width: 30%;
    grid-area: giacidt;
  }
  .header_container_logos_logo {
    padding: 5px;
  }
  .header_container_logos_logo img {
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 385px) {
  .programacion_tabla_dia {
    font-size: 1.5rem;
  }
  .programacion_tabla_info {
    font-size: 1.3rem;
  }
  .programacion_tabla_hora {
    font-size: 1rem;
    width: 35%;
  }
  .programacion_tabla_evento {
    width: 65%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 374px) {
  .header {
    margin-bottom: 194px;
  }
}
@media screen and (max-width: 210px) {
  .header_container_logos_logo:nth-child(1) {
    width: 100%;
  }
  .header_container_logos_logo:nth-child(2) {
    width: 100%;
  }
  .header_container_logos_logo:nth-child(3) {
    width: 100%;
  }
  .header_container_logos_logo {
    width: 100%;
  }
  .header_container_logos_logo img {
    width: 100%;
    height: auto;
  }
}
.transferencias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.transferencias .tarjetas {
  box-shadow: 0 0 10px 5px rgba(140, 141, 143, 0.5);
}
.transferencias p {
  margin-bottom: 0;
}
.transferencias_emprende1 {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.transferencias_emprende1_img {
  width: 100%;
}
.transferencias_emprende1_img img {
  width: 100%;
}
.transferencias_emprende1_content {
  width: 100%;
}
.transferencias_emprende2 {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-template-areas: "img content" "img content" "contact contact";
}
.transferencias_emprende2_img {
  grid-area: img;
}
.transferencias_emprende2_img img {
  width: 100%;
}
.transferencias_emprende2_content {
  grid-area: content;
  width: 100%;
}
.transferencias_emprende2_contact {
  grid-area: contact;
  width: 100%;
}
.transferencias_emprende3 {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.transferencias_emprende3_img img {
  width: 100%;
}
.transferencias_emprende3_content {
  width: 100%;
  text-align: center;
}
.transferencias_emprende4 {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(7, 14.2857143%);
  grid-template-rows: auto;
  grid-template-areas: "title title title title title title title" "img img img description description description description" "img img img contact1 contact1 contact2 contact2";
}
.transferencias_emprende4_title {
  grid-area: title;
  width: 100%;
}
.transferencias_emprende4_description {
  grid-area: description;
  width: 100%;
}
.transferencias_emprende4_contact1 {
  grid-area: contact1;
  width: 100%;
}
.transferencias_emprende4_contact2 {
  grid-area: contact2;
  width: 100%;
}
.transferencias_emprende4_img {
  grid-area: img;
}
.transferencias_emprende4_img img {
  width: 100%;
}
.transferencias_emprende5 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-template-areas: "title title" "img description" "contact contact";
}
.transferencias_emprende5_title {
  grid-area: title;
}
.transferencias_emprende5_img {
  grid-area: img;
}
.transferencias_emprende5_description {
  grid-area: description;
}
.transferencias_emprende5_contact {
  grid-area: contact;
}

/*# sourceMappingURL=style.css.map */
