table{
    width: 100%;
/*     border: 1px solid black; */
    border-spacing: 0px;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
/*     border: 1px solid black; */
    border-spacing: 0px;
    border-collapse: collapse;
}

.contenido-1-pro{
    background: #016e3c;
    color: white;
    font-size: 25px;
}

.contenido-2-pro{
    background: #008550;
    color: white;
    font-size: 20px;
}

.contenido-3-pro{
    background: #88cb66;
    color: white;
    font-size: 15px;
}

.column-1{
    width: 20%;
    text-align: center;
}

.column-2{
    width: 80%;
    text-align: justify;
}

.column-2.dcrp-t{
    text-align: center;
}

.tablas-separadas{
    padding-top: 30px;
    padding-bottom: 30px;
}

#programacion{
    padding-top: 20px;
}