/* .container-perfiles{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px outset gray;
    padding-right: 15px;
    padding-left: 15px;
  }

#perfiles .container{
    border: 2px outset gray;
}


#perfiles .container .row .columna-33{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#perfiles .container .row .columna-33 img{
    width: 280px;
}


#perfiles .container .row .columna-63 .contenido-perfiles{
    height: 300px;
}

#perfiles .container .row .columna-63 .contenido-perfiles h3{
    position: relative;
    top: 0px;
}


.box-perfiles{
    height: 100%;
}

.texto2{
    opacity: 0;
}

.contenido-perfiles-1,.contenido-perfiles-2{
    position: absolute;
}

.texto1, .texto2{
    transition: all 0.5s ease-out;
}

#perfiles .container .row{
    width: 100%;
    padding: 15px;
} */

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-ponencias{
    display: flex;
    flex-wrap: wrap;
}

#perfiles .container .row-ponencias .columna-33 img{
    width: 200px;
}

.contenido-perfiles-2{
    position: relative;
}

.contenido-perfiles-2 .texto2{
    opacity: 0;
}

.contenido-perfiles-1{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texto1, .texto2{
    transition: all 1s ease-out;
}

.texto1{
    font-size: 15px;
}

.texto2{
    font-size: 15px;
}

.contenido-perfiles-nombre{
    font-size: 25px;
}

.container-perfiles{
    /* padding-top: 30px; */
    padding-bottom: 30px;
}

.columna.columna-66.contenido-perfiles{
    display: flex;
    align-items: center;
}




